// Rofi colors for Pamela

* {
    font: "Terminess Nerd Font Mono Bold 10";
    background: ;
    bg-alt: #1F222B;
    background-alt: E0;
    foreground: ;
    selected: ;
    active: ;
    urgent: ;

    img-background: url("~/.config/i3/rices/pamela/rofi.webp", width);
}