// Eww colors for Cynthia rice
$bg: #181616;
$bg-alt: #1c1a1a;
$fg: #c5c9c5;
$black: #a6a69c;
$lightblack: #262831;
$red: #c4746e;
$blue: #8ba4b0;
$cyan: #8ea4a2;
$magenta: #a292a3;
$green: #8a9a7b;
$yellow: #c4b28a;
$archicon: #0f94d2
