/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #ffffff;
    background-alt: #ffffff;
    foreground:     #2ac3de;
    selected:       #2ac3de;
    active:         #2ac3deFF;
    urgent:         #2ac3deFF;
}
