/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #24283b;
    background-alt: #24283b;
    foreground:     #2ac3de;
    selected:       #2ac3de;
    active:         #bb9af7FF;
    urgent:         #bb9af7FF;
}
