// Eww colors for Daniela rice
$bg: #181825;
$bg-alt: #1e1e2e;
$fg: #CDD6F4;
$black: #45475A;
$lightblack: #262831;
$red: #F38BA8;
$blue: #89B4FA;
$cyan: #94E2D5;
$magenta: #F5C2E7;
$green: #A6E3A1;
$yellow: #F9E2AF;
$archicon: #0f94d2;
