/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #16161E;
    background-alt: #16161E;
    foreground:     #f7768e;
    selected:       #b2abe4;
    active:         #b2abe4FF;
    urgent:         #b2abe4FF;
}
