// Eww colors for Silvia rice
$bg: #3c3836;
$bg-alt: #2E2E2E;
$fg: #fbf1c7;
$black: #a89984;
$lightblack: #262831;
$red: #fb4934;
$blue: #83a598;
$cyan: #8ec07c;
$magenta: #d3869b;
$green: #b8bb26;
$yellow: #fabd2f;
$archicon: #0f94d2;
