body {
    margin: 0;
    padding: 0;
    background: rgb(235, 235, 235);
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,18,84,1) 0%, rgba(30,32,70,1) 100%);*/
    /*background-image: url("../icons/logo/gimp2.png");*/
    font-family: 'Source Code Pro', monospace;
}

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.2);
    margin: right;
    box-shadow: 15px #000000;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: -4px 3px 10px #000000;
    transition: all 1s ease;
  }
  
  .topnav a:hover {
    /*background-color: rgba(87,18,84,1);*/
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  
  .topnav a.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  .topnav .icon {display: none;}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: right;
    background-color: rgba(30,32,70, 0.596);
    color: white;
  }

.topnav .fa {padding: 0px 7px;}
  
.logo {
  width: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: #000000 1px;
 }

 .logo > p {
  margin: 0 auto;
 }

.bottomcontent {
  margin: 0 auto;
  width: 90%;
  display: flex;
  margin-top: 3%;
 }

.bottomcontent p {
   font-size: 14px;
   margin: 0 auto;
   text-align: center;
   width: 30%;
 }

.bottomcontent p:nth-child(1) {
  color: rgb(0, 255, 13);
  float: left;
  background-color: #00000033;
  padding: 3px 3px 3px 3px;
  border-radius: 100px 35px 100px 35px;
  box-shadow: -27px 12px 42px 21px rgba(30, 32, 70, 0.58);
  box-shadow: 0px 0px 100px -37px rgba(51, 55, 117, 0.58) inset;
  border: 1px solid #00000069;
  transition: all 1s ease;
}

.bottomcontent p:nth-child(1):hover {
  color: rgb(0, 255, 13);
  float: left;
  background-color: #00000033;
  padding: 3px 3px 3px 3px;
  border-radius: 100px 35px 100px 35px;
  box-shadow: -27px 12px 42px 21px rgba(30, 32, 70, 0.58);
  box-shadow: 0px 0px 100px -37px rgba(51, 55, 117, 0.58) inset;
  border: 1px solid #00000069;
  transform: translateX(10px) rotate(10deg) translateY(5px);
}

.bottomcontent p:nth-child(2) {
  color: rgb(217, 255, 0);
  float: inherit;
  background-color: #00000033;
  padding: 3px 3px 3px 3px;
  border-radius: 35px 100px 35px 100px;
  box-shadow: 0px 0px 42px 12px rgba(30, 32, 70, 0.58);
  box-shadow: 0px 0px 100px -37px rgba(131, 27, 126, 0.58) inset;
  border: 1px solid #00000069;
  transition: all 1s ease;
}

.bottomcontent p:nth-child(2):hover {
  color: rgb(217, 255, 0);
  float: inherit;
  background-color: #00000033;
  padding: 3px 3px 3px 3px;
  border-radius: 35px 100px 35px 100px;
  box-shadow: 0px 0px 42px 12px rgba(30, 32, 70, 0.58);
  box-shadow: 0px 0px 100px -37px rgba(131, 27, 126, 0.58) inset;
  border: 1px solid #00000069;
  transform: scaleY(1.2);
}

.bottomcontent p:nth-child(3) {
  color: rgb(0, 225, 255);
  float: right;
  background-color: #00000033;
  padding: 3px 3px 3px 3px;
  border-radius: 35px 100px 35px 100px;
  box-shadow: 0px 0px 100px -37px rgba(131, 27, 126, 0.58) inset;
  border: 1px solid #00000069;
  transition: all 1s ease;
}

.bottomcontent p:nth-child(3):hover {
  color: rgb(0, 225, 255);
  float: right;
  background-color: #00000033;
  padding: 3px 3px 3px 3px;
  border-radius: 35px 100px 35px 100px;
  box-shadow: 0px 0px 100px -37px rgba(131, 27, 126, 0.58) inset;
  border: 1px solid #00000069;
  transform: translateX(10px) rotate(-10deg) translateY(5px);
}

.bottomcontent .fa {padding: 0px 7px;}

.line_shadow_blue {
  margin: 50px 0;
  padding: 0;
  height: 10px;
  width: 50%;
  float: left;
  border: none;
  border-top: 1px solid #00000069;
  box-shadow: 86px 87px 89px -47px rgba(51, 55, 117, 0.11) inset;
}

.line_shadow_pink {
  margin: 50px 0;
  padding: 0;
  height: 10px;
  width: 50%;
  float: right;
  border: none;
  border-top: 1px solid #00000069;
  box-shadow: -100px -44px 76px -47px rgba(131, 27, 126, 0.11) inset;
}

.window {
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  overflow: auto;
  background-color: #0c0e14;
  border-radius: 10px;
  border: 1px solid black;
}

.window .title {
  width: 100%;
  height: 32px;
}

.window .title ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.window .title > ul li{margin: 3px 3px 3px 10px;}


.window .title ul li a {
  font-size: 14px;
  color: #c0c0c0;
  text-decoration: none;
  text-align: center;
  position: relative;
  padding: 4px 8px 4px 8px;
  transition: all 1s ease;
  border-radius: 15px;
}

.window .title ul li a:hover {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #c30ed3 0%, #8700f6 100%);
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
}

.window .subtitle {
  margin: 0;
  padding: 0;
  float: left;
  width: 14%;
  height: 32px;
  /*border: 1px solid red;*/
}

.subtitle .fa {transition: all 1s ease;}

.subtitle .fa:hover {
  transform: rotate(5deg) translateY(5px);
}

.window .subtitle i {
  padding: 2px 0px 2px 6px;
  margin: 6px 0px 2px 6px;
}

.window .subtitle a {
  text-decoration: none;
  padding: 0px 4px 0px 4px;
  font-size: 14px;
  color: #c0c0c0;
}

.window .searchbar {
  height: 28px;
  width: 84%;
  /*border: 1px solid red;*/
  float: right;
  margin-right: 14px;
}

input {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #121520;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(195, 14, 211, 0.2) inset;
}

input:focus {
  outline:none;
  outline-color:#c30ed3;
  }


.window .searchbar p {
  margin: 0;
  padding: 0;
  text-align: left;
  position: inherit;
}

.wind_center {
  /*border: 1px solid red;*/
  width: 100%;
  height: 90%;
  display: flex;
}

.window_left {
  /*border: 1px solid greenyellow;*/
  border: 1px solid black;
  width: 25%;
  height: 97%;
  float: left;
  margin: 5px 0px 0px 10px;
  background-color: border: 1px solid red;*/
  border: 1px solid black;
  width: 72%;
  height: 97%;
  float: right;
  margin: 5px 0px 0px 10px;
  background-color: #121520;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 10px rgba(195, 14, 211, 0.2) inset;#121520;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 10px rgba(195, 14, 211, 0.2) inset;
}

.window_left ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }
 
 .window_left li {margin: 12px 0px 0px 20px;}
 
 .window_left a {
   text-decoration: none;
   color: #c0c0c0;
   outline: none;
   display: block;
   font-size: 14px;
   padding: 5px 0px 5px 10px;
   width: 93%;
   transition: all 1s ease;
   text-align: left;
 }

 .window_left a:hover {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #c30ed3 0%, #8700f6 100%);
   color: #fff;
   border-radius: 5px;
   transform: translate(-10px,-10px);
   box-shadow: 5px 5px 15px 11px rgba(195, 14, 211, 0.2);
 }

 .window_left i {padding-right: 10px;}

 button {
  background: transparent;
  height: 30px;
  width: 100%;
  border: none;
}

.window_right {
  /*border: 1px solid red;*/
  border: 1px solid black;
  width: 72%;
  height: 97%;
  float: right;
  margin: 5px 0px 0px 10px;
  background-color: #121520;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 10px rgba(195, 14, 211, 0.2) inset;
}

.window_right {
  /*border: 1px solid red;*/ /*Всё окно с фотками*/ 
  word-wrap: break-word;
  overflow-x:hidden;
}

.gimp_photo {
  margin: 10px 0px 0px 35px;
}

.gimp_photo > a > img {
  /*border: 1px solid red;*/
  width: 30%;
  height: 20%;
  margin:15px 10px 15px 0px;
}

.gimp_photo a {
  border-radius: 5px;
}

.gimp_photo a:hover {
  /*border: 1px solid red;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #c30ed3 0%, #8700f6 100%);
  transition: all 1s ease;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 11px rgba(195, 14, 211, 0.2);
}
.gimp_photo img:nth-child(1):hover {
  /*border: 1px solid red;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #c30ed3 0%, #8700f6 100%);
  border-radius: 50px;
  transition: all .5s ease;
  transform: translate(0px,-5px);
  box-shadow: 5px 5px 15px 11px rgba(195, 14, 211, 0.2);
}