[Desktop Entry]
Name=Red Alert 2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'
Type=Application
Categories=Lux Wine Apps
StartupNotify=true
Icon=ra2
Actions=rmapp;config;openpfx;debug;cmd;explorer;control;regedit;winecfg;taskmgr;uninstaller;winetricks;clearpfx;pfxbackup;pfxrestore;killwine;version;init

[Desktop Action rmapp]
Name=Remove shortcut
Name[ru_RU]=Удалить ярлык
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -rmapp 'Red Alert 2'

[Desktop Action config]
Name=Settings
Name[ru_RU]=Настройки
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -config '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe' 

[Desktop Action openpfx]
Name=Open drive C:\\\
Name[ru_RU]=Открыть диск C:\\\
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -openpfx '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action debug]
Name=DEBUG
Name[ru_RU]=ДЕБАГ
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -debug '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe' 

[Desktop Action cmd]
Name=Open in CMD
Name[ru_RU]=Открыть в CMD
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -cmd '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe' 

[Desktop Action explorer]
Name=Explorer
Name[ru_RU]=Рабочий стол
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -explorer '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action control]
Name=Control panel
Name[ru_RU]=Панель управления
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -control '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action regedit]
Name=Registry editor
Name[ru_RU]=Редактор реестра
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -regedit '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action winecfg]
Name=Wine settings
Name[ru_RU]=Настройки Wine
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -winecfg '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action taskmgr]
Name=Task manager
Name[ru_RU]=Диспетчер задач
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -taskmgr '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action uninstaller]
Name=Wine uninstaller
Name[ru_RU]=Устан/удал программ
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -uninstaller '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action winetricks]
Name=Winetricks
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -winetricks '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action clearpfx]
Name=Clear prefix
Name[ru_RU]=Очистить префикс
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -clearpfx '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action pfxbackup]
Name=Create prefix backup
Name[ru_RU]=Создать бекап префикса
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -pfxbackup '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action pfxrestore]
Name=Restore prefix from backup
Name[ru_RU]=Восстановить префикс
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -pfxrestore '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action killwine]
Name=Kill Wine processes
Name[ru_RU]=Убить процессы Wine
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -killwine '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action version]
Name=Version info
Name[ru_RU]=Версия
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -version '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'

[Desktop Action init]
Name=Forced initialization
Name[ru_RU]=Принудительная инициализация
Icon=ra2
Exec='/home/vir0id/.local/share/LuxWine/bin/lwrun' -init '/home/vir0id/.local/share/LuxWine/wprefixes/defprefix/dosdevices/c:/Games/Red Alert 2/ra2.exe'
