// Eww colors for aline rice
$bg: #faf4ed;
$bg-alt: #f2e9e1;
$fg: #575279;
$black: #9893a5;
$lightblack: #262831;
$red: #b4637a;
$blue: #56949f;
$cyan: #d7827e;
$magenta: #907aa9;
$green: #286983;
$yellow: #ea9d34;
$archicon: #0f94d2;
