.Leader {
  stroke-width: 0.5 !important;
  stroke: #f7768e;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #6D8895;
  fill: #f7768e;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #f7768e !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #6D8895 !important;
  fill: #f7768e !important;
}
