:root{
    --homepage-bg-primary: #16161e;
    --homepage-bg-secondary: hsla(0, 0%, 100%, .05);
    --homepage-bg-tertiary: hsla(0, 0%, 0%, .75);
    --homepage-bg-active: #2ac3de;
    --homepage-bg-focus: #2ac3de;
    --homepage-text-primary: #bb9af7;
    --homepage-text-primary-rgb: 187, 154, 247;
    --homepage-text-secondary: #d3bfff;
    --homepage-text-active: white;
    --homepage-text-error: #ff4d4d;
    --homepage-text-success: #4dff4d;

    --homepage-scrollbar: #f7768e #f56b84;
}