/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191926;
    background-alt: #191926;
    foreground:     #DD37D0;
    selected:       #0a9cf5;
    active:         #a437ddFF;
    urgent:         #a437ddFF;
}
