[Desktop Entry]
Version=1.0
Type=Application
Name=PureRef
GenericName=Reference Image Viewer
Comment=PureRef - Simple and lightweight reference image viewer.
Exec=/home/vir0id/Applications/PureRef-2.0.3_x64_bdbb0a90d59530c8973415b390ded0c8.Appimage %U
Terminal=false
Icon=appimagekit_6adbf26467f6e3e301d595856a1ef69f_pureref
Categories=Graphics;
MimeType=application/pureref;
StartupNotify=true

TryExec=/home/vir0id/Applications/PureRef-2.0.3_x64_bdbb0a90d59530c8973415b390ded0c8.Appimage
X-AppImage-Old-Icon=pureref
X-AppImage-Identifier=6adbf26467f6e3e301d595856a1ef69f
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2024-11-03 13:25:12 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/vir0id/Applications/PureRef-2.0.3_x64_bdbb0a90d59530c8973415b390ded0c8.Appimage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
