[Desktop Entry]
Name=Battle Tanks: Танковые битвы времён Второй Мировой
Comment=Play this game on Steam
Exec=steam steam://rungameid/782670
Icon=steam
Terminal=false
Type=Application
Categories=Game;
