[Desktop Entry]
Exec=/opt/gamelistedit/gamelistedit
Version=0.1.0
Name=Gamelist XML Editor
GenericName=Standard options
Comment=gamelist.xml file editor for EmulationStation in RetroPie
Icon=/opt/gamelistedit/app/img/icon.svg
Categories=Application;Qt;Utility;
Encoding=UTF-8
Type=Application
Terminal=false
