[Desktop Entry]
Exec=/opt/gamelistedit/gamelistedit -i -e -E -O -a -g -m -n -z
Version=0.1.0
Name=Gamelist XML Editor (Alternative)
GenericName=Alternative options: -i -e -E -O -a -g -m -n -z
Comment=gamelist.xml file editor for EmulationStation in RetroPie
Icon=/opt/gamelistedit/app/img/icon.svg
Categories=Application;Qt;Utility;
Encoding=UTF-8
Type=Application
Terminal=false
