[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Sudden Strike 4
GenericName=Sudden Strike 4
Comment=Sudden Strike 4
Icon=/home/vir0id/Games/GOG Games/Sudden Strike 4/support/icon.png
Exec="/home/vir0id/Games/GOG Games/Sudden Strike 4/start.sh" ""
Categories=Game;
Path=/home/vir0id/Games/GOG Games/Sudden Strike 4

