#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Oxygen XML Developer 26.1
Exec="/home/vir0id/Oxygen XML Editor 26/oxygenDeveloper26.1" %U
Icon=/home/vir0id/Oxygen XML Editor 26/.install4j/oxygenDeveloper26.1.png
Categories=Application;
StartupWMClass=install4j-ro-sync-exml-Oxygen2470038321
