#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Generate Sample XML Files
Exec="/home/vir0id/Oxygen XML Editor 26/xmlGeneratorGui" %U
Icon=/home/vir0id/Oxygen XML Editor 26/.install4j/xmlGeneratorGui.png
Categories=Application;
StartupWMClass=install4j-ro-sync-exml-Oxygen2540356828
