[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/vir0id/.local/bin/zen/zen-bin %u
Name=Zen
Comment=Пользовательское определение для Zen
