.works {
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
  margin-right: 20px; 
}
.focused {
  color: #61AAD6;
}
.urgent {
  color: #f00a0a;
}
.unoccupied {
  color: #ff00ea;
}
.occupied {
  color: #ffffff;
}