// Eww colors for Jan rice
$bg: #212a4c;
$bg-alt: #1d2644;
$fg: #4DD0E1;
$black: #626483;
$lightblack: #262831;
$red: #fb007a;
$blue: #58AFC2;
$cyan: #926BCA;
$magenta: #583794;
$green: #a6e22e;
$yellow: #f3e430;
$archicon: #0f94d2;
