/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #121416;
    background-alt: #121416;
    foreground:     #c738c0;
    selected:       #b72f62;
    active:         #c738c0FF;
    urgent:         #c738c0FF;
}
