/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #09001D;
    background-alt: #09001D;
    foreground:     #8660db;
    selected:       #9D059E;
    active:         #b72f62FF;
    urgent:         #FB6236FF;
}
