[Desktop Entry]
Categories=Lux Wine
Exec="/home/vir0id/.local/share/LuxWine/bin/lwrun" -pfxrestore %f
Icon=lw_default_icon
MimeType=application/vnd.squashfs;application/x-ms-dos-executable;application/x-msdos-program
Name=Restore prefix from backup
Name[ru_RU]=Восстановить префикс
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
