[Desktop Entry]
Categories=Lux Wine
Exec="/home/vir0id/.local/share/LuxWine/bin/lwrun" -update
Icon=lw_default_icon
Name=Update runtime
Name[ru_RU]=Обновление рантайм
NoDisplay=true
StartupNotify=true
Terminal=0
TerminalOptions=--hold
Type=Application
X-KDE-SubstituteUID=false
