/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #16161EFF;
    background-alt: #16161EFF;
    foreground:     #242c3cFF;
    selected:       #24748bFF;
    active:         #ef738bFF;
    urgent:         #b2abe4FF;
}
