@define-color bg-color #ffffff;
@define-color fg-color #ffffff;
@define-color sel-color #ffffff;
@define-color backdrop-bg-color #ffffff;
@define-color text-backport-color #ffffff; /*Цвет всего текста не активного окна*/
@define-color button-backdrop-background-color #ffffff; /*Кнопки не активного окна*/
@define-color button-backdrop-checked-background-color #ffffff; /*Выделение в тексте на левой панели*/
@define-color spinbutton-not-vertical-button-shadow #ffffff; /*Цвет кнопок активного окна*/
@define-color spinbutton-not-vertical-image-entry-image #ffffff; /*Цвет текста заголовка окна*/
@define-color stackswitcher-button-backdrop-checked-background-color #ffffff; /*Цвет кнопок заголовка не активного окна*/
@define-color notebook-header-tabs-arrow-hover-button-hover-background-color #ffffff; /*Цвет кнопок заголовка активного окна*/
@define-color assistant-sidebar-backdrop-border-color #ffffff; /*Рамка кнопок не активного окна*/
@define-color assistant-sidebar-backdrop-background-color #ffffff; /*Рамка чекбокса активого окна*/

@define-color disabled-color #ffffff;
@define-color border-color #ffffff;
@define-color button-destructive-action-flat-backdrop #ffffff; 
@define-color button-destructive-action-hover-background #ffffff; 
@define-color button-backdrop-active-background-color #ffffff;
@define-color button-backdrop-disabled-checked-background-color #ffffff;
@define-color button-suggested-action-flat-backdrop-background-color #ffffff;
@define-color spinbutton-not-vertical-image-backdrop-entry-image-backdrop-color #ffffff;
@define-color spinbutton-drop-active-not-vertical-entry-drop-active-focus-entry-drop-active #ffffff;
@define-color gtkstyle-fallback-hover-background-color #ffffff;
@define-color gtkstyle-fallback-active-background-color #ffffff;
@define-color treeview-view-header-button-hover-color #ffffff;
@define-color label-disabled-backdrop-color #ffffff;
@define-color popup-backdrop-color #ffffff; 
@define-color label-error-color #ffffff;
@define-color entry-tag-hover-background-color #ffffff;
@define-color treeview-view-disabled-selected-color #ffffff;
@define-color treeview-view-disabled-selected-backdrop-color #ffffff;
@define-color treeview-view-backdrop-border-left-color #ffffff;
@define-color treeview-view-drop-active-border-color #ffffff;
@define-color treeview-view-expander-color #ffffff;
@define-color treeview-view-expander-selected-color #ffffff;
@define-color treeview-view-expander-selected-backdrop-color #ffffff;
@define-color treeview-view-expander-backdrop-color #ffffff;
@define-color menu-arrow-top-menu-arrow-top-context-menu-arrow-top-border-top #ffffff;
@define-color menu-arrow-hover-menu-arrow-hover-context-menu-arrow-hover-background-color #ffffff;
@define-color treeview-view-selected-border-left-color #ffffff;
@define-color treeview-view-selected-border-left-color-seccond #ffffff;
@define-color treeview-view-rubberband-flowbox-rubberband-border #ffffff;
@define-color assistant-sidebar-backdrop-border-color #ffffff;
@define-color spinbutton-drop-active-not-vertical-entry-drop-active-focus-entry-drop-active-background-color #ffffff;
@define-color spinbutton-drop-active-not-vertical-entry-drop-active-focus-entry-drop-active-background-color #ffffff;

/**/
@define-color notebook-header-tabs-button:active-circle-farthest-corner-at-center #ffffff;
@define-color button-suggested-action:hover-background-color #ffffff;
@define-color button-suggested-action:hover-background-color #ffffff; 
@define-color notebook-header-tabs-arrow-disabled-active-header-tabs-arrow:disabled:checked-button:disabled:active-button:disabled:checked-background-color #ffffff;
@define-color button-suggested-action-backdrop-active-button-suggested-action-flat-backdrop-checked-background-color #ffffff;
@define-color button-suggested-action-backdrop-disabled-active-button-suggested-action-flat-backdrop-disabled-checked-background-color #ffffff;
@define-color button-suggested-action-disabled-active-button-suggested-action-disabled-checked-background-color #ffffff;
@define-color button-destructive-action-active-button-destructive-action-checked-background-color #fa4a4a;
@define-color button-destructive-action-backdrop-active-button-destructive-action-backdrop-checked-button-destructive-action-flat-backdrop-active-button-destructive-action-flat-backdrop-checked-background-color #ffffff;
@define-color button.destructive-action-button.destructive-action.flat-backdrop-disabled-checked-background-color #ffffff;
@define-color scrollbar-slider-hover-background-color #ffffff;
@define-color scrollbar-slider-backdrop-background-color #ffffff;




@define-color button-destructive-action-disabled-active-button-destructive-action-disabled-checked-background-color #ffffff;
@define-color selection-mode-titlebar-not-headerbar-button-button-background-color #ffffff;
@define-color selection-mode-titlebar-not-headerbar-button-hover-background-color #ffffff;
@define-color MozillaGtkWidget-background-headerbar-button-close-hover-background-color #ffffff;
@define-color MozillaGtkWidget-background-headerbar-button-close-active-background-color #ffffff;
@define-color scrollbar-slider-background-color #ffffff;
@define-color switch-disabled-checked-background-color #ffffff;
@define-color switch-backdrop-background-color #ffffff;
@define-color switch-backdrop-disabled-checked-background-color #ffffff;
@define-color check-backdrop-radio-backdrop-background-color #ffffff;
@define-color check-backdrop-disabled-radio-backdrop-disabled-background-color #ffffff;
@define-color check-checked-backdrop-radio-checked-backdrop-background-color #ffffff;
@define-color check-checked-backdrop-disabled-radio-checked-backdrop-disabled-background-color #ffffff;
@define-color check-indeterminate-backdrop-radio-indeterminate-backdrop-background-color #ffffff;
@define-color check-indeterminate-backdrop-disabled-radio-indeterminate-backdrop-disabled-background-color #ffffff;
@define-color progressbar-progress-backdrop-disabled-scale-highlight-backdrop-disabled-background-color #ffffff;
@define-color levelbar-block-disabled-backdrop-background-color #ffffff;
@define-color separator-sidebar-selection-mode-selection-mode-separator-sidebar-background-color #ffffff;
@define-color infobar-action-hover-revealer-box-background-color #ffffff;
@define-color infobar.info:backdrop-background-color #ffffff;
@define-color infobar-info-button-infobar-question-button-infobar-warning-button-infobar-error-button-background-color #ffffff;  
@define-color infobar-info-button-hover-infobar-question-button-hover-infobar-warning-button-hover-infobar-error-button-hover-background-color #ffffff; 
@define-color content-view-background-color #ffffff; 
@define-color content-view-backdrop-background-color #ffffff; 
@define-color view-text-selection-focus-background-color #ffffff;
@define-color label-backdrop-selection-background-color #ffffff;
@define-color wnck-pager-background-color #ffffff; 
@define-color wnck-pager-selected-background-color #ffffff;






/*Transparent*/
@define-color tbg-color_0_15 shade (@bg-color, 0.15);
@define-color tbg-color_0_3 shade (@bg-color, 0.3);
@define-color tbg-color_0_45 shade (@bg-color, 0.45);
@define-color tbg-color_0_5 shade (@bg-color, 0.5);
@define-color tbg-color_0_7 shade (@bg-color, 0.7); 
@define-color tbg-color_0_075 shade (@bg-color, 0.075);
@define-color tbg-color_0_8 shade (@bg-color, 0.8);
@define-color tbg-color_0_095 shade (@bg-color, 0.095);
@define-color tfg-color_0_5 shade (@fg-color, 0.5);
@define-color tfg-color_0_6 shade (@fg-color, 0.6);
@define-color tfg-color_0_7 shade (@fg-color, 0.7);
@define-color tset-color_0 shade (@sel-color, 0);
@define-color tset-color_0_1 shade (@sel-color, 0.1);
@define-color tsel-color_0_15 shade (@sel-color, 0.15);
@define-color tsel-color_0_2 shade (@sel-color, 0.2);
@define-color tsel-color_0_25 shade (@sel-color, 0.25);
@define-color tsel-color_0_3 shade (@sel-color, 0.3);
@define-color tsel-color_0_4 shade (@sel-color, 0.4);
@define-color tsel-color_0_45 shade (@sel-color, 0.45);
@define-color tsel-color_0_5 shade (@sel-color, 0.5);
@define-color tsel-color_0_05 shade (@sel-color, 0.05);
@define-color tsel-color_0_6 shade (@sel-color, 0.6);
@define-color tsel-color_0_7 shade (@sel-color, 0.7);
@define-color tsel-color_0_75 shade (@sel-color, 0.75);
@define-color tsel-color_0_8 shade (@sel-color, 0.8); 
@define-color label-error-disabled-color_08 shade (@label-error-color, 0.8);
@define-color tbutton-destructive-action-flat-backdrop shade (@button-destructive-action-flat-backdrop, 0.8);
@define-color tentry-tag-hover-background-color shade (@entry-tag-hover-background-color, 0.9);
@define-color treeview-view-selected-border-left-color-seccond_01 shade (@treeview-view-selected-border-left-color-seccond, 0.1);
@define-color treeview-view-selected-border-left-color-seccond_0_45 shade (@treeview-view-selected-border-left-color-seccond, 0.45);
@define-color treeview-view-selected-border-left-color-seccond_0_125 shade (@treeview-view-selected-border-left-color-seccond, 0.125);
@define-color ttreeview-view-rubberband-flowbox-rubberband-border_0_2 shade (@treeview-view-rubberband-flowbox-rubberband-border, 0.2);
@define-color tentry-warning_0_3 shade (@entry-warning, 0.3);


/**/

stacksidebar0_888627
popover-background0_4
scrolledwindow-undershoot-top0_2
app-notification-app-notification.frame0_4
app-notification-backdrop-app-notification-frame-backdrop0_4
calendar-header-border-bottom-color0_1
calendar.header:backdrop { border-bottom-color: rgba(0, 0, 0, 0.1); }
placessidebar undershoot.top { background-color: transparent; background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%); padding-top: 1px; background-size: 10px 1px; background-repeat: repeat-x; background-origin: content-box; background-position: center top; border: none; box-shadow: none; }
tooltip.background, tooltip.background.csd { border-radius: 10px; background-color: rgba(0, 0, 0, 0.8); background-clip: padding-box; border: 1px solid rgba(255, 255, 255, 0.1); }
colorswatch.light { outline-color: rgba(0, 0, 0, 0.6); }
colorswatch.light overlay:backdrop { color: rgba(0, 0, 0, 0.5); }
colorswatch:disabled overlay { border-color: rgba(0, 0, 0, 0.6); box-shadow: none; }
decoration { border-radius: 10px; border-width: 0px; box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4), 0 0 0 1px @tset-color_0_1; margin: 10px; }
decoration:backdrop { box-shadow: 0 10px 15px 5px transparent, 0 3px 6px 2px rgba(0, 0, 0, 0.4), 0 0 0 1px @treeview-view-selected-border-left-color-seccond_0_125; transition: 150ms ease-out; }
.csd.popup decoration { border-radius: 8px; box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px @tset-color_0_1; }
.csd.popup decoration:backdrop { box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px @treeview-view-selected-border-left-color-seccond_0_125; }
messagedialog.csd decoration { border-radius: 10px; box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px @tset-color_0_1; }
messagedialog.csd decoration:backdrop { box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px @treeview-view-selected-border-left-color-seccond_0_125; }
.lowres-icon { -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.3), -1px 0 rgba(0, 0, 0, 0.1); }
.icon-dropshadow { -gtk-icon-shadow: 0 1px 12px rgba(0, 0, 0, 0.05), 0 -1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.3), -1px 0 rgba(0, 0, 0, 0.1); }
terminal-window decoration { background-color: @fg-color; border-radius: 10px 10px 0 0; box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4), 0 0 0 2px @tset-color_0_1, 0 0 0 1px @fg-color; }
terminal-window decoration:backdrop { background-color: @backdrop-bg-color; box-shadow: 0 10px 15px 5px transparent, 0 3px 6px 2px rgba(0, 0, 0, 0.4), 0 0 0 2px @treeview-view-selected-border-left-color-seccond_0_125, 0 0 0 1px @backdrop-bg-color; }
