/** Colors Latte *******************************************/
$bg: #eff1f5;
$bg-alt: #e6e9ef;
$fg: #4c4f69;
$fg-alt: #5c5f77;
$red: #e64553;
$green: #40a02b;
$yellow: #df8e1d;
$orange: #fe640b;
$blue: #1e66f5;
$purple: #7287fd;
$cyan: #179299;
$gray: #9ca0b0;
$gray-alt: #8c8fa1;

@import "./System-Menu/eww.scss";
@import "./Misc/eww.scss";
@import "./Main/eww.scss";
