/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #161925;
    background-alt: #161925;
    foreground:     #C3C7D1;
    selected:       #c50ed2;
    active:         #f7768eFF;
    urgent:         #f7768eFF;
}
