.Leader {
  stroke-width: 0.5 !important;
  stroke: #E57C46;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #e0def4;
  fill: #E57C46;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #E57C46 !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #e0def4 !important;
  fill: #E57C46 !important;
}
